{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Reset password</title>
</head>
<style type="text/css">
	*{
		color: black;
		margin: 5px;
		background-color: ;
	}
	h2{
		color:orange;
		text-decoration: underline;
		text-align: center;
	}
	form {
		margin-left: 400px;
		padding-top: 20px;
		background-color: skyblue;
		font-size: 1.3em;
		width: 400px;
		height: 100px;
		padding-top: 30px;
	}
	button {
		font-size: inherit;
		margin-left: 100px;
	}
	form:input {
		height: 30px;
	}
</style>
<body>

<h2>Forgot password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
</body>
<footer style="text-align: center;font-size: 1.2em">&copy chirii softwares 2017</footer>
</html>
{% endblock %}