{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Password Reset successfull</title>
</head>
<style type="">
	*{
		color: black;
		margin: 5px;
		background-color:#D8EDE7 ;
	}
	h2{
		text-decoration: underline;
		text-align: center;
		color:green;
		text-indent: 5px;
	}
	p{
		margin-left: 3px;
	}
	a{
		text-decoration: none;
		text-align: center;
		background-color: white;
		font-size: 1.2em;
		color:blue;
	}
</style>
<body>
	<h2>Password reset successfull!!</h2><a href="/home">Home</a><br><br>
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p></div>
</body>
<footer style="text-align: center;font-size: 1.2em">&copy chirii softwares 2017</footer>
</html>
{% endblock %}