<!DOCTYPE html>
<html lang="en">
<head>
	<title>Analytics home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'ezraWeb/css/bootstrap.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'ezraWeb/css/custom.css' %}" type="text/css">
</head>
<body>
<!--navbar initialisation -->
<div class="row">
 <nav class="navbar navbar-inverse navbar-fixed-top" id="nav-top">
 <div class="container">
        <!--div class="text-info"><h4>Chirii Empire Here Just Bootstrap </h4></div-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> 
        <div class="navbar-brand" href="#">Shop Adviser </div>
        <div class="navbar-text" style="color:black;padding-left: 100px;">{{today}}</div>
        <div class=" collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home glyphicon-white"></span>&nbsp&nbsp&nbsp Home</a></li
>
                 <li><a href="/About">About</a></li>
                 
                 
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class=" glyphicon glyphicon-user "  ></span>&nbsp&nbspAccount<b class="caret"></b></a>
                 <ul class="dropdown-menu">
                     
                     <li ><a href="accounts/login"><span class="glyphicon glyphicon-log-in"></span> &nbspLogin</a></li>
                     <li ><a href="accounts/register"><span class="glyphicon glyphicon-registration-mark"></span> &nbspSign Up</a></li>
                     <li ><a href="accounts/resetpassword"><span class="glyphicon glyphicon-pencil">&nbsp</span>forgot password?</a></li>
                      
                 </ul>
                 </li>
                 
                 
                 
                
            </ul>
        </div>

        </div></nav>
        </div>

 <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>

<nav class="navbar navbar-default " style="background-color: darkslategray;">
            <div class="container"  >
            <p class="navbar-text pull left" style="color: #080808">&copy Chirii Softwares<sup>2017</sup><img class="img-rounded" src="{% static 'ezraWeb/images/chirchircp.png'%}" width="50px" height="50px" alt="chiriicp"></p>
            <div class=" navbar-text pull-left" style="padding-top:40px;padding-left: 10px;"><a href="#">Twitter|</a><a href="#">Facebook|</a><a href="#">GooglePlus</a> &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp
             <span class="text-danger">Copyrighted content!</span>
             </div>
            </div>
        </nav>

<!--Js plugins for Jquery and Javascript-->
<script type="text/javascript" src="{% static 'ezraWeb/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ezraWeb/js/bootstrap.js' %}"></script>

</body>
</html>