{% load static%}
{% block content%}
{% endblock%}
<footer>
<nav class="navbar navbar-default  navbar-fixed-bottom" style="background-color: darkslategray;">
            <div class="container"  >
            <p class="navbar-text pull left" style="color: #080808">&copy Chirii Softwares<sup>2017</sup><img class="img-rounded" src="{% static 'ezraWeb/images/chirchircp.png'%}" width="50px" height="50px" alt="chiriicp"></p>
            <div class=" navbar-text pull-left" style="padding-top:40px;padding-left: 10px;"><a href="#">Twitter|</a><a href="#">Facebook|</a><a href="#">GooglePlus</a> &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp
             <span class="text-danger">Copyrighted content!</span>
             </div>
            </div>
        </nav>
       </footer>